<div nz-row nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24" nzJustify="center">
        <h1>Empleados</h1>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24"><button (click)="mostrar()" nz-button nzType="primary">Nuevo Empleado</button></div>
</div>
<hr>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #basicTable [nzData]="empleado">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha de Ingreso</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.nombre}}</td>
                    <td>{{data.fechaIngreso}}</td>
                    <td>{{data.cargoId}}</td>
                    <td>
                        <div *ngIf="data.disponible"><i nz-icon nzType="check-square" nzTheme="outline"></i></div>
                    </td>
                    <td>
                        <a (click)="mostrar(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="¿Está seguro de borrar el registro?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="eliminar(data.id)" (nzOnCancel)="cancel()"
                            nzShape="circle" nzCancelText="No" nzOkText="Si"><i nz-icon nzType="delete"
                                nzTheme="outline"></i></a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>





<nz-modal [(nzVisible)]=visible nzTitle="Administracion Empleado">
    <ng-container *nzModalContent>
        <form nz-form nzLayout="vertical" (ngSubmit)="guardar()" [formGroup]="formEmpleado">
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Nombre</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <input formControlName="nombre" nz-input placeholder="Escribe el nombre del empleado" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Fecha de Ingreso</nz-form-label>
                        <nz-form-control  nzErrorTip="Por favor escriba el dato correcto!">
                            <input formControlName="fechaIngreso" nzPlaceHolder="Ingrese la Fecha" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Cargo</nz-form-label>
                        <nz-form-control  nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-select formControlName="cargoId" formControlName="cargosId">
                                <nz-option *ngFor="let item of cargo" [nzValue]="item.id" [nzLabel]="item.nombre">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Disponible</nz-form-label>
                        <nz-form-control  nzErrorTip="Por favor seleccione el dato correcto!">
                            <nz-radio-group formControlName="disponible">
                                <label nz-radio nzValue="true">Activo</label>
                                <label nz-radio nzValue="false">Inactivo</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ocultar()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardar()">Guardar</button>
    </div>
</nz-modal>
